.about-wrap
    .container
        .about__slider
            img.about__slide(src="img/mini_01.jpg" alt="game")
            img.about__slide(src="img/mini_02.jpg" alt="game")
            img.about__slide(src="img/mini_03.jpg" alt="game")
            img.about__slide(src="img/mini_04.jpg" alt="game")

        h2.about__h2 About Us
        ul.about__list
            li.about__item
                p Sport Fox is an innovative mobile game development company. We strive to create games that capture the imagination and offer unique gaming experiences.
            li.about__item
                p Our team of creative professionals combines skill and passion for games to create unique projects that delight our users.
            li.about__item
                p We are proud of our portfolio of successful games and strive to constantly evolve and improve.
