.block-links__wrap
    .container
        .row
            .col
            .col
                h2.block-links__h2 This is the best<br>App for people<br>with apps
                .block-links__buttons
                    a.block-links__button(href="#" target="_blank") Primary
                    a.block-links__button(href="#" target="_blank") Secondary
