.footer
    .container
        .row
            .col
            .col
                h2 Contacts
                p Contact us to start a partnership or for more information about our company and services.
                a.link-to-private(href="private.html") Privacy Policy
