.services-wrap
    .services__img-wrap
    .container
        .row
            .col
            .col.services__text-wrap
               h2.services-h2 Our services:
               ul.services__list
                li.services__item
                    p We offer a wide range of services in mobile game development. Our professional team is ready to implement your ideas and create a unique game product.
                li.services__item
                    p We offer design and development of game concepts, visual design, programming and sound mastering services.
                li.services__item
                    p We are proud of our portfolio of successful games and strive to constantly evolve and improve.

