.team__wrap
    .container
        .row
            .col
            .col
                h3.team__h3 We create unique and exciting gaming adventures that will immerse you in an exciting world of entertainment.
                p Our team consists of talented developers, designers and gameplay masters, who create games for iOS and Android platforms.
                .team__icons
                    img.team__icon(src="img/icon.svg" alt="icon")
                    img.team__icon(src="img/icon.svg" alt="icon")
                    img.team__icon(src="img/icon.svg" alt="icon")
                p Find out more about our projects <br>and the impressive results of our work!
