//$mobile-width: "min-width:544px";
$tablet-width: "min-width:768px";
//$desktop-width: "min-width:1200px";
//$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
//

$deep-purple: #4A0381;
$light-purple: #7341C4;


//$primary-text: #121213;
//$gray-color: #a3afb2;
//$light-text: #ffffff;


