.block-links__wrap {
  padding: 80px 0;
}
.block-links__h2 {
  color: $deep-purple;
  text-transform: initial;
  font-size: 38px;
  line-height: 1.2;
  text-align: center;
}
.block-links__buttons {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block-links__button {
  width: 240px;
  background: $deep-purple;
  padding: 16px 30px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  border-radius: 12px;
  margin-bottom: 20px;
  &:last-child {
    background-color: $light-purple;
    margin-bottom: 0;
  }
  &:hover {
    background: linear-gradient(68deg, #7341C4 0%, #7B61FF 100%);
  }
}

// @media (min-width:768px)
@media ($tablet-width) {
  .block-links__wrap {
    padding: 100px 0;
  }
  .block-links__h2 {
    font-size: 52px;
    font-weight: 500;
    text-align: left;
  }
  .block-links__buttons {
    flex-direction: row;
    align-items: flex-start;
  }
  .block-links__button {
    margin-right: 20px;
    margin-bottom: 0;
    width: 160px;
    &:last-child {
      margin-right: 0;
    }
  }

}
