.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $deep-purple;
  h2 {
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 40px;
  }
  a {
    color: #FFFFFF;
    font-size: 18px;
  }
}

// @media (min-width:768px)
@media ($tablet-width) {}
