doctype html
html(lang="en")
    head
        title= SportFox
        meta(charset="UTF-8")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(rel='stylesheet' href='fonts/stylesheet.css')
        link(rel='stylesheet' href='./style/style.css')

    body
        include modules/cover
        include modules/team
        include modules/about
        include modules/block-links
        include modules/services
        include modules/footer

        script(src='js/slider.js')
